body {
	background-color: black;
	background-image: url(../assets/png/GB-brick-background.png);
	background-repeat: no-repeat; 
	background-position: center center;
	background-size: cover;
	position: static;
	font-family: 'Rock Salt', cursive;
	line-height: 30px;
	color: #bf9933;
  }

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

.imgGrafitti {
	width: 1130px;
}

.flex-container {
	display: flex;
	flex-flow: nowrap;
	justify-content: space-evenly;	
	list-style: none;
	margin: auto;
	align-items: center;
	width: 900px;
}

.flex-item {
	padding: 5px;
}

.fa-facebook-f {
  	color:  white;
}

.fa-twitter {
	color:  white;
}

.fa-instagram {
	color:  white;
}

.fa-youtube {
	color:  white;
}

.fa-apple {
	color:  white;
}

.fa-tshirt {
	color:  white;
}

.fa-spotify {
	color:  white;
}

.flex-container {
	max-width: 900px;
	width: 100%;
}

#mc-embedded-subscribe{
	width: 900px;
	margin-left: .4vw;
}

#mc-embed-signup{
	padding: 2vw;
	font-size: 20px;
	margin-left: 22vw;
}

.mc-field-group{
	font-size: 22px;
	padding: 7px;

}

.button{
	border:2px solid #bf9933;
	color: #bf9933;
	background-color: white;
	font-size: 20px;
	font-weight: 600;
	font-family: 'Rock Salt', cursive;
}



#mce-NAME, #mce-EMAIL, #mce-MMERGE2{
	width: 900px;
	height: 40px;
	font-size: 15px;
	border:2px solid #bf9933;

}

#mce-MMERGE3{
	width: 900px;
	height: 100px;
	font-size: 15px;
	border:2px solid #bf9933;

} 
